.box {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    position: absolute;
    left: 25vw;
    top: 6vw;
}

.box span:nth-child(1) {
    font-size: 50px;
}

.box span:nth-child(2) {
    font-size: 40px;
}

.dogBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 35vh;
}

.dogBox1, .dogBox2 {
    display: flex;
    gap: 10px;
    margin: 5px;
}

