.box {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    position: absolute;
    left: 25vw;
    top: 6vw;
    margin: 20px;
}

.box span:nth-child(1) {
    font-size: 50px;
}

.box span:nth-child(2) {
    font-size: 40px;
}

.dogBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 40vh;
    margin-bottom: 10vh;
    gap: 10px;
}

.p {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: flex-start;
    align-self: flex-start;
    margin-left: 5rem;
    padding-bottom: 20px;
}

.p > span:nth-child(2) {
    padding-left: 20px;
}