.container {
    background-color: coral;
    width: 15vw;
    height: 24vh;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease; /* 애니메이션 효과 추가 */

}

.container:hover {
    transform: scale(0.9);
    box-shadow: 6px 6px 15px rgba(0, 0, 0, 0.7);
    cursor: pointer;
}

.img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.container > h3, .container > p {
    margin: 0;
}