.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.maps {
    width: 90%;
    height: 80%;
    background-color: skyblue;
    border-radius: 15px;
    margin-bottom: 10vh;
    border: 2px solid black;
}