.container {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    font-family: 'Arial', sans-serif;
    align-items: center;
}

.boxContainer {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}